* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:"Segoe UI Light", Helvetica, Arial, sans-serif;
}
#background {
    position: fixed;
}
#container3 {
    margin: 2em auto;
    float:left;
    width:100%;
    background:#fdfdfd;
    overflow: hidden;
}
#container2 {
    float:left;
    width:100%;
    position:relative;
    background:#fafafa;
    right:70%;
}
#container1 {
    float:left;
    width:100%;
    position:relative;
    right:10%;
    background:#efefef;
    /* sidebar background color */
    /*border-right:1px solid black;*/
}
#left {
    margin: 2em auto;
    float:left;
    width:20%;
    position:relative;
    left:80%;
}
.center {
    text-align: center;
}
#nav {
    margin: 1em 0.5em auto;
    position:relative;
    left:81%;
}
#circle {
    border-radius: 5em;
    height: 10em;
    width: 10em;
    margin: 0 auto 2em;
    display: block;
}
#resumeTab p, #projectTab p {
    text-indent: 2em;
}
#resumeTab a {
    color: #55e;
    text-decoration: underline;
}
body {
    font-size: 1em;
    line-height: 1em;
    color: #333;
    background: transparent;
    padding:2em 5em;
}
h1 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: lighter;
    line-height: 1em;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    font-weight: lighter;
    font-family:"Segoe UI Light", Helvetica, Arial, sans-serif;
    color: #555;
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: left;
    color: #555;
}
a {
    color: #000;
    font-weight: normal;
    line-height: 2em;
    text-decoration: none;
}
p {
    line-height: 1.5em;
    opacity: 0.7;
}
img.links {
    margin:0.5em;
    opacity: 0.7;
}
@media screen and (max-width: 480px) {
    #container2 {
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
    }
}
